:root {
  --black-color: #000;
  --aiming-color: #2196f3;
  --main-text-color: #212121;
  --description-text-color: #757575;
  --background-color: #2f303a;
  --body-color: #ffffff;
  --border-line-color: #eeeeee;
  --background-button-hover: #188ce8;
  --background-color-our-team-section: #f5f4fa;
  --header-border-color: #ececec;
  --social-lincs-client-color: #afb1b8;
  --main-fonts: "Roboto", sans-serif;
  --logo-fonts: "Raleway", sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-fonts);
  font-style: normal;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  font-family: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  section {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    margin-top: 94px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.aiming-transform {
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.button-menu-open, .button-close-mobile, .features__card, .about-us__card-title, .social-icon-list__icon, .regular-customers__icon, .contact-form-checkbox__agreement, .contact-form-checkbox__checkbox:checked + .contact-form-checkbox__icon, .button-send, .button-close-modal, .primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--header-border-color);
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 100%;
  }
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.nav__link:hover, .nav__link:focus {
  color: var(--aiming-color);
}

.contacts__list {
  display: none;
  width: 163px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.contacts__link .contacts__icon,
.contacts__link .contacts__icon {
  transition: 250ms var(--cubic);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--aiming-color);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--aiming-color);
}

@media screen and (min-width: 768px) {
  .container__button-open {
    margin-left: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .container__button-open {
    margin-bottom: 0;
  }
}

.button-menu-open {
  box-sizing: border-box;
  background-color: var(--body-color);
  border: none;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .button-menu-open {
    display: none;
  }
}

.button-menu-open__icon {
  transition: fill 250ms var(--cubic);
}

.button-menu-open:hover .button-menu-open__icon,
.button-menu-open:focus .button-menu-open__icon {
  fill: var(--aiming-color);
}

.button-close-mobile {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: none;
  background-color: var(--body-color);
}

.button-close-mobile__icon {
  transition: fill 250ms var(--cubic);
}

.button-close-mobile:hover .button-close-mobile__icon,
.button-close-mobile:focus .button-close-mobile__icon {
  fill: var(--aiming-color);
}

.mobile-nav.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--cubic) visibility 250ms var(--cubic);
}

.mobile-nav__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
}

.mobile-nav {
  position: absolute;
  background-color: var(--body-color);
  top: 0;
  width: 100vw;
  height: 100vh;
  margin-bottom: auto;
  z-index: 10;
}

.mobile-nav .button-close-mobile {
  position: absolute;
  top: 16px;
  right: 0;
}

.mobile-nav__list {
  padding-top: 48px;
  padding-left: 25px;
}

.mobile-nav__item {
  margin-bottom: 35px;
}

.mobile-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--aiming-color);
}

.mobile-contacts__list {
  padding-left: 25px;
  margin-bottom: 64px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: var(--aiming-color);
}

.mobile-contacts__link--aiming-color {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--aiming-color);
}

.mobile-social__list {
  display: flex;
  margin-bottom: 40px;
  margin-left: 15px;
  flex-wrap: wrap;
}

.mobile-social__item {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:last-child {
  border-right: none;
}

.mobile-social__link {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--aiming-color);
}

.mobile-nav__link--current-page {
  color: var(--aiming-color);
}

.logo {
  font-family: var(--logo-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

.logo__first-part {
  color: var(--aiming-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__studio_color_black {
  color: var(--black-color);
}

.logo__studio_color_white {
  color: var(--body-color);
}

.nav__link--current-page {
  color: var(--aiming-color);
}

.nav__link--current-page::after {
  display: flex;
  content: '';
  width: 100%;
  border: 2px solid;
  border-radius: 2px;
  background: var(--body-color);
  margin-right: 20px;
  color: var(--aiming-color);
  position: relative;
  top: 28px;
}

.hero {
  margin-top: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile_1x/heroBackground_M1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet_1x/heroBackground_T1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop_1x/heroBackground_D1x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: auto auto 30px auto;
  color: var(--body-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.features__item {
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.features__card {
  margin-bottom: 30px;
  height: 120px;
  box-sizing: border-box;
  background-color: var(--background-color-our-team-section);
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--main-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.about-us {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    display: block;
  }
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.about-us__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.about-us__img {
  display: block;
}

.about-us__card-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-our-team-section);
}

@media screen and (min-width: 768px) {
  .our-team {
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.our-team__list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    margin-top: 50px;
  }
}

.our-team__item {
  margin-top: 30px;
  background-color: var(--body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team__item {
    flex-basis: calc((100% - 60px)/2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 120px)/4);
    margin-left: 30px;
  }
}

.our-team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.our-team__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--description-text-color);
  margin-bottom: 16px;
}

.social-icon-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.social-icon-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-list__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon-list__icon--light {
  fill: var(--social-lincs-client-color);
  background-color: var(--body-color);
}

.social-icon-list__icon--light:hover, .social-icon-list__icon--light:focus {
  background-color: var(--aiming-color);
  fill: var(--body-color);
}

.social-icon-list__icon--dark {
  fill: var(--body-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-list__icon--dark:hover, .social-icon-list__icon--dark:focus {
  background-color: var(--aiming-color);
}

.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
}

.regular-customers {
  margin-bottom: 60px;
}

.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .regular-customers__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__list {
    display: flex;
    margin-top: 50px;
  }
}

.regular-customers__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .regular-customers__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.regular-customers__icon {
  box-sizing: border-box;
  border: 1px solid var(--social-lincs-client-color);
  border-radius: 4px;
  fill: var(--social-lincs-client-color);
  width: 100%;
  height: 92px;
}

.regular-customers__icon:hover, .regular-customers__icon:focus {
  border: 1px solid var(--aiming-color);
  fill: var(--aiming-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .logo-contacts-social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo-contacts-social {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.footer-logo-contacts {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-logo-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo-contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  font-style: normal;
  font-family: var(--main-fonts);
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.footer__link:hover, .footer__link:focus {
  color: var(--aiming-color);
}

.footer__link--transparency {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 145px;
  color: var(--body-color);
  margin-bottom: 20px;
}

.contact-form {
  text-align: left;
  padding: 20px 40px;
}

@media screen and (min-width: 486px) {
  .contact-form {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form {
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form {
    padding: 40px;
  }
}

.contact-form__title {
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--description-text-color);
  margin-bottom: 4px;
  text-align: left;
}

.contact-form__name, .contact-form__phone, .contact-form__email {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__textarea {
  margin-bottom: 5px;
}

@media screen and (min-width: 432px) {
  .contact-form__textarea {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form__textarea {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form__textarea {
    margin-bottom: 20px;
  }
}

.contact-form-checkbox {
  margin-bottom: 5px;
}

@media screen and (min-width: 432px) {
  .contact-form-checkbox {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form-checkbox {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox {
    margin-bottom: 30px;
  }
}

.contact-form__icon {
  position: absolute;
  top: 65%;
  left: 15px;
  transform: translateY(-50%);
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.contact-form__input:focus {
  border-color: var(--aiming-color);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--aiming-color);
}

.contact-form__coment {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.contact-form__coment:focus {
  border-color: var(--aiming-color);
}

.contact-form-checkbox__agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contact-form-checkbox__agreement:hover .contact-form-checkbox__icon,
.contact-form-checkbox__agreement:focus .contact-form-checkbox__icon {
  border-color: var(--aiming-color);
}

.contact-form-checkbox__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.contact-form-checkbox__checkbox:checked + .contact-form-checkbox__icon {
  border-color: transparent;
  background-color: var(--aiming-color);
  background-image: url(../images/icons/agreement.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.contact-form-checkbox__checkbox:focus + .contact-form-checkbox__icon {
  border-color: var(--aiming-color);
}

.contact-form-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.contact-form-checkbox__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .contact-form-checkbox__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.contact-form-checkbox__link-policy-conf {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--aiming-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-form-checkbox__link-policy-conf {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox__link-policy-conf {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 4px;
  }
}

.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.portfolio-button__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .portfolio-button__list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-button__list {
    display: flex;
    justify-content: center;
  }
}

.portfolio-button__item {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .portfolio-button__item {
    margin-top: 15px;
  }
}

.portfolio-card__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-card__list {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__list {
    margin-top: 20px;
  }
}

.portfolio-card__item {
  background: var(--body-color);
  max-width: 450px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-card__item {
    display: flex;
    flex-basis: calc((100% - 60px)/2);
    margin-left: 30px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    display: flex;
    flex-basis: calc((100% - 90px)/3);
    margin-left: 30px;
    max-width: 370px;
  }
}

.portfolio-card__link {
  transition: box-shadow 250ms var(--cubic);
}

.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__link:hover .portfolio-card-hover-wrapper,
.portfolio-card__link:focus .portfolio-card-hover-wrapper {
  opacity: 1;
  transform: translate(0%);
  transition: transform 250ms var(--cubic);
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__img {
  display: block;
  flex-basis: 370px;
  height: auto;
}

.portfolio-card__caption {
  padding: 20px 24px;
  border-right: 1px solid var(--border-line-color);
  border-bottom: 1px solid var(--border-line-color);
  border-left: 1px solid var(--border-line-color);
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.portfolio-card-hover-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
}

.portfolio-card-hover-wrapper__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--cubic) visibility 250ms var(--cubic);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 560px;
  background-color: var(--body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 486px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop__modal .button-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--cubic) visibility 250ms var(--cubic);
}

/* button-close-modal */
.button-close-modal {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--body-color);
}

.button-close-modal__icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--cubic);
}

.button-close-modal:hover .button-close-modal__icon,
.button-close-modal:focus .button-close-modal__icon {
  fill: var(--aiming-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    align-items: start;
    margin-top: 0;
  }
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-color);
}

.subscribe-form__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__box {
    flex-direction: row;
  }
}

.subscribe-form__area-input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--body-color);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe-form__area-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__area-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-form__area-input:focus {
  border-color: var(--aiming-color);
}

.subscribe-form__icon {
  fill: var(--body-color);
  margin-left: 10px;
}

.primary-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--aiming-color);
  color: var(--body-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary-button:hover, .primary-button:focus {
  background-color: var(--background-button-hover);
}

.primary-button--padding-hero {
  padding: 10px 32px;
  display: inline-block;
}

.primary-button--padding-footer {
  padding: 10px 28px;
}

.primary-button--padding-moodal-form {
  padding: 10px 55px;
}

.button-portfolio {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--background-color-our-team-section);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-portfolio:hover, .button-portfolio:focus {
  background-color: var(--aiming-color);
  color: var(--body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */