:root {
  --black-color: #000;
  --aiming-color: #2196f3;
  --main-text-color: #212121;
  --description-text-color: #757575;
  --background-color: #2f303a;
  --body-color: #ffffff;
  --border-line-color: #eeeeee;
  --background-button-hover: #188ce8;
  --background-color-our-team-section: #f5f4fa;
  --header-border-color: #ececec;
  --social-lincs-client-color: #afb1b8;
  --main-fonts: "Roboto", sans-serif;
  --logo-fonts: "Raleway", sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}